#topbar{
    width: 1000px;
    margin:  auto;
    height: 40px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    float: left;
    width:120px;
    margin-top:10px;
    margin-right: 30px;
}
.log{
    float: left;
    width:30px;
    margin-top: 15px;
    margin-right: 6px;
}
span{
    font-weight: bold;
    position: relative;
    top: 19px;
    float: left;
    margin-right:60px;
}

#topbar-section{
    float: left;
    border-left: 1px grey solid;
    height: 50px; 
    padding-left: 20px;
}
#topbar-section p{
    font-weight: bold;
}

#topbar-sectio{
    float: left;
}
#topbar-sectio p{
    font-weight: bold;
    margin-left: 40px;
}
.material-icons{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px;
}

#bottom-bar{
    width: auto;
    background-color: #B80000;
    height: 100px;
}
#bottom-bar h1{
    color: white;
    margin-left: 140px;
    padding-top: 10px;
}
#bottom-section{
    float: left;
    padding-right: 20px;
}
#bottom-section p{
    color: white;
    margin-left: 150px;
    margin-top: 10px;
}
#bottom-sectio{
    float: left;
    border-left: 1px gray solid;
    height: 20px;
    padding-left: 10px;
}
#bottom-sectio p{
    color: white;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
 #sub h3{
    width: 1000px;
    margin:  auto;
    margin-left: 150px;
    color: #404040;
    font-size: 1.25rem;
    font-weight: normal;
    position:relative;
    bottom:9px;
    text-decoration: underline;
    text-decoration-color: #B80000;
    text-decoration-thickness: 5px;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    margin-left: 150px;
}
#main img{
    width: 500px;
    height: 300px;
}
.text1{
    float: right;
    margin-right: 185px;
    position: relative;
    bottom: 330px;
    left: 20px;
    font-family: var(--bbc-font);
}
.text1 a{
    color: black;
    text-decoration: none;
}
.text1 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.text2{
    float: right;
    font-family: Arial,Helvetica,sans-serif;;
    position: relative;
    bottom: 350px;   
    margin-right: 85px;
    font-weight: 300px;
    cursor: pointer;
    color: #606060;
}
.clock{
    float: right;
}
.material-icons{
    color: #606060;
    float: right;
    position: relative;
    left: 30px;
    bottom: 310px;
}
.clock_11{
   float: right;
   color: #606060;
   position: relative;
   bottom: 290px;
   left: 100px;
}
.clock_111{
    float: right;
    border-left: 1px grey solid;
    position: relative;
    bottom: 290px;
    left: 190px;
    height: 20px;
}
.clock_111 p{
    float: right;
    color: #606060;
    position: relative;
    bottom: 15px;
    left: 10px;
}
.clock_3{
    float: right;
}
.clock_3 ul{
    float: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 290px;
    left: 470px;
}
.clock_3 ul a{
    color: black;
    text-decoration: none;
}
.clock_3 ul a:hover{
    color: #B80000;
    text-decoration: underline;
}
#main_1{
    margin-left: 150px;
}
#main_1 img{
    width: 250px;
    height: 150px;  
    position: relative;
    top: 25px;
    z-index: 1;
}
.boxi{
    float: left;
    position: relative;
    bottom: 80px;
    font: size 16px;
    cursor: pointer;
    font-family: var(--bbc-font);
}
.boxi a{
    color: black;
    text-decoration: none;
}
.boxi a:hover{
    color: #B80000;
    text-decoration: underline;
}
.main_ii{ 
    float: left;   
    position: relative;
    right: 160px;
    bottom: 10px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
}
.main2{
   float: left;
   position: relative;
   top: 390px;
   right: 410px;
   font-weight: 10px;
   
}
.main2 p{
    float: left;
    position: relative;
    bottom: 307px;
    left: 100px;
    color: #606060;
}
.main3{
    float: left;
    border-left: 1px grey solid;
    position: relative;
    right: 350px;
    top: 100px;
    height: 20px;
    padding-left: 20px;
}
.main3 p{
    float: left;
    position: relative;
    bottom: 15px;
    color: rgb(34, 34, 34);
    font-family:var(--bbc-font);
    font-weight: 400px;
}
.mainA{
    float: right;
}
.mainA img{
    width: 250px;
    height: 150px;  
    position: relative;
    bottom: 235px;
    right: 590px;
    z-index:2;
}
.maina{
    float: left;
    position: relative;
    right: 200px;
    bottom: 95px;
    font-family: var(--bbc-font);
}
.maina a {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
}
.maina a:hover{
    color: #B80000;
    text-decoration: underline;
}
.mainb{
    float: left;
    position:relative;
    right: 400px;
    bottom: 25px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
}
.mainc{
    float: left;
    position: relative;
    top:375px;
    right: 180px;
}
.mainc p{
    position: relative;
    bottom: 330px;
    left: 80px;
    color: #606060;
}
.maind p{
    float: right;
    position: relative;
    right: 50px;
    bottom: 5px;
    border-left: 1px gray solid;
    padding-left: 15px;
}
.third{
    float: right;
}
.third img{
    float:right ;
    width: 250px;
    height: 150px; 
    position: relative;
    bottom: 312px;
    left: 420px;
}
.third1{
    position: relative;
    bottom: 300px;
    left: 425px;
}
.third1 a{
    color: rgb(0, 0, 0);
    text-decoration-line: none;
}
.third1 a:hover{
    color: #B80000;
    text-decoration: underline;
    font-family: var(--bbc-font);
}
.third2{
    position: relative;
    bottom: 310px;
    left: 420px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
}
.third3{
    float: left;
    position: relative;
    left: 650px;
    top: 300px;
}
 .third3 p{
    position: relative;
    bottom: 330px;
    left: 90px;
    color: #606060;
}
.third4 p{
    position: relative;
    left: 765px;
    top: 178px;
    padding-left: 10px;
    border-left: 1px gray solid;
}
.side1{
    float: right;
    position: relative;
    left: 880px;
    bottom: 320px;
    font-family: var(--bbc-font);
    border-bottom: 1px grey solid;
    padding-bottom: 25px
}
.side1 a{
    color: black;
    text-decoration: none;
}
.side1 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.side2 {
    float: right;
    position: relative;
    left: 880px;
    bottom: 305px;
    font-family: var(--bbc-font);
    border-bottom: 1px grey solid;
    padding-bottom: 25px;
}
.side2 a{
    color: black;
    text-decoration: none;
}
.side2 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.side3 {
    float: right;
    position: relative;
    left: 910px;
    bottom: 285px;
    font-family: var(--bbc-font);
    border-bottom: 1px gray solid;
    padding-bottom: 25px;
}
.side3 a{
    color: black;
    text-decoration: none;
}
.side3 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.down{
    margin-left: 150px;
}
.down img{
    width: 250px;
    height: 150px;  
    position: relative;
    bottom: 250px;
}
.down h4{
    position: relative;
    bottom: 260px;
    left: 10px;
    font-family: var(--bbc-font);
}
.down h4 a{
    color: black;
    text-decoration: none;
}
.down h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.own{
     position: relative;
     bottom: 270px;
     left: 10px;
     font-family: Arial, Helvetica, sans-serif;
     color: #606060;
}
.downi {
    float: left;
    top: 50px;
    position: relative;
    right: 100px;
}
.downi p{
    float: left;
    position: relative;
    bottom: 307px;
    left: 150px;
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
}
.down2{
    float: left;
}
.down2 img{
    width: 250px;
    height: 148px;  
    position: relative;
    bottom: 570px;
    left: 165px;
}
.down2 h4{
    position: relative;
    bottom: 580px;
    left: 164px;
    font-family: Arial, Helvetica, sans-serif;
}
.down2  a{
    color: black;
    text-decoration: none;
}
.down2 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#kwon{
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    position: relative;
    left: 164px;
    bottom: 590px;
}
.downii{
    position: relative;
    bottom: 285px;
    right: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
}
.down2 p{
    position: relative;
    bottom: 292px;
    left: 290px;
}
.down3{
    float: left;
}
.down3 img{
    width: 250px;
    height: 150px;  
    position: relative;
    bottom: 570px;
    left: 190px;
}
.down3 h4{
    position: relative;
    bottom: 580px;
   left: 194px;
}
.down3 a{
    color: black;
    text-decoration: none;
}
.down3 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.down3 p{
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    position: relative;
    bottom:590px;
    left: 192px;
}
.down3i{
   position: relative;
   right: 60px;
   bottom: 250px;
}
.down3i p{
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    float: right;
    position: relative;
    margin-top: 300px;
}
.putin{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px gray solid;
    padding-bottom: 45px;
    position: relative;
    right: 80px;
    bottom: 575px;
    float: right;
}
.putin a{
    color: black;
    text-decoration: none;
}
.putin a:hover{
    color: #B80000;
    text-decoration: underline;
}
.putin2{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px gray solid;
    padding-bottom: 45px;
    position: relative;
    left: 110px;
    bottom: 450px;
    float: right;
}
.putin2 a{
    color: black;
    text-decoration: none;
}
.putin2 a:hover{
    color: #B80000;
    text-decoration: underline;
}    
.putin3{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px gray solid;
    padding-bottom: 45px;
    position: relative;
    right: 47px;
    bottom: 450px;
    float: right;
}
.putin3 a{
    color: black;
    text-decoration: none;
}
.putin3 a:hover{
    color: #B80000;
    text-decoration: underline;
} 
.elon{
    float: left;
}   
.elon img{
    width: 250px;
    height: 148px;  
    position: relative;
    right: 615px;
    bottom: 220px;
}
.elon h4{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 620px;
    bottom: 230px;
}
.elon h4 a{
    color: black;
    text-decoration: none;
 }
.elon h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.eloni{
    position: relative;
    right: 765px;
    top: 50px;
    float: left;
}
.eloni p{
    position: relative;
    left: 178px;
    bottom: 305px;
    float: left;
}
.elon2{
    float: left;
}
.elon2 img{
    width: 250px;
    height: 148px;  
    position: relative;
    right: 590px;
    bottom: 342px;
}
.elon2 h4{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 353px;
    right: 588px;
}
.elon2 h4 a{
    color: black;
    text-decoration: none;
 }
.elon2 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.elonii{
    float: left;
    position: relative;
    right: 783px;
    bottom: 70px;
}
.elonii p{
    float: left;
    position: relative;
    bottom: 306px;
    left: 230px;
}
.elon3{
    float: right;
}
.elon3 img{
    width: 250px;
    height: 148px;  
    position: relative;
    right: 317px;
    bottom: 622px;
}
.elon3 h4{
    position: relative;
    bottom: 635px;
    right: 317px;
    font-family: Arial, Helvetica, sans-serif;
}
.elon3 h4 a{
    color: black;
    text-decoration: none;
}
.elon3 h4 a:hover{
    color:#B80000;
    text-decoration: underline;
}
.eloniii{
    position: relative;
    right: 570px;
    bottom: 350px;
}
.eloniii p{
    position: relative;
    left: 300px;
    bottom: 292px;
}
.sec a{
   float: right;
   position: relative;
   bottom: 600px;
   left: 200px;
   text-decoration:none ;
   color: black;
   border-bottom: 1px gray solid;
   padding-bottom: 50px;
}
.sec a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sec1 a{
   float: right;
   position: relative;
   bottom: 570px;
   left: 210px;
   text-decoration:none ;
   color: black;
   border-bottom: 1px gray solid;
   padding-bottom: 50px;
}
.sec1 a:hover{
    color: #B80000;
    text-decoration: underline;
}

#watch{
    margin-left: 150px;
    width: 1000px;
    position: relative;
    bottom: 455px;

}
#watch h2{
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 700;
}
.hr{
    border-bottom:1px solid #7B756F;
    position: relative;
    bottom: 485px;
    margin-left: 300px;
}
#vid{
    margin-left: 150px;
    width: 1000px;
}
#vid img{
    width: 250px;
    height: 148px;
    position: relative;
    bottom: 455px;
}
#vid h4 a{
    position: relative;
    bottom: 470px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
#vid h4 a:hover{
    color: #B80000;
    text-decoration: none;
}
#vid3{
    float: right;
}  
#vid3 img{
    width: 250px;
    height: 148px;
    position: relative;
    bottom: 687px;
    right: 587px;
}
#vid3 h4 a{
    position: relative;
    bottom: 702px;
    right:587px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
#vid3 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#vid2{
    float: right;
}
#vid2 img{
    width: 250px;
    height: 148px;
    position: relative;
    bottom: 687px;
    right: 58px;
}
#vid2 h4 a{
    position: relative;
    bottom: 700px;
    right:58px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
#vid2 h4 a:hover{
    color: #B80000;
    text-decoration: none;
}    
#vid4{
     float: right;
}
#vid4 i{
   position: relative;
   bottom: 770px;
   left: 261px;
}
#vid4 h4 a{
    position: relative;
    bottom: 693px;
    left: 497px;
    text-decoration: none;
    color: black;
}
#hr{
    border-bottom:1px solid #7B756F;
    position: relative;
    bottom: 630px;
    left: 490px;
}
#vid4 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#vid5{
    float: right;
}
#vid5 i{
    position: relative;
    bottom: 630px;
    left: 500px;
}
#vid5 h4 a{
    position: relative;
    bottom: 552px;
    left: 667px;
    color: black;
    text-decoration: none;
}
#vid5 h4 a:hover{
    color: #B80000;
    text-decoration:underline ;
}
.vid6{
    float: right;
    position: relative;
    bottom: 670px;
    right: 110px;
    width: 1000px;
}
#hr1{
    border-bottom:1px solid #7B756F;
    position: relative;
    bottom: 385px;
    width: auto;
    margin-left: 384px;
}
#vid7{
    margin-left: 150px;
}
#vid7 img{
    width: 250px;
    height: 150px; 
    position: relative;
    bottom:668px
}
#vid7 h4 a{
    position: relative;
    bottom:683px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#vid7 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#vid8{
    float:right ;
}
#vid8 img{
    width: 250px;
    height: 150px;
    position: relative;
    bottom: 903px;
    right: 586px;
}
#vid8 h4 a{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 917px;
    right: 586px;
    color:black;
    text-decoration: none;
}
#vid8 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#vid9{
    float: right;
}
#vid9 img{
    width: 250px;
    height: 150px;
    position: relative;
    bottom: 902px;
    right: 57px;
}
#vid9 h4 a{
    position: relative;
    bottom: 918px;
    right: 58px ;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
#vid h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#vid10{
    float: right;
}
#vid10 h4{
    position: relative;
    bottom: 900px;
    left: 475px;
    padding-bottom: 70px;
    border-bottom: #606060 1px solid;
}   
#vid10 h4 a{
    color: black;
    text-decoration: none;
}    
#vid10 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#vid11{
    float: right;
}
#vid11 h4 a{
    position: relative;
    bottom: 770px;
    left: 675px;
    color: black;
    text-decoration: none;
}
#vid11 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.line{
    color: #222222;
    position: relative;
    bottom: 640px;
    margin-left: 150px;
}
#space{
    width: 1000px;
    margin-left: 330px;
}
#sax1{
    float: right;
    position: relative;
    bottom: 700px;
}
.sax2{
    float: right;
    position: relative;
    bottom: 635px;
    left: 39px;
}
.sax3 a{
    float: right;
    position: relative; 
    bottom: 750px;
    color: #222222;
    text-decoration: none;
    font-size: 20px;
    right: 470px;
}
.sax3 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax4{
    text-align: left;
    float: left;
    position: relative;
    bottom: 730px;
    left: 50px;
    color: #404040;
    font-size:.8125rem;
}
#space img{
    position: relative;
    bottom: 580px;
    height: 120px;
    width: 215px;
    right: 80px;
}
.sax5{
    float: right;
    position: relative;
    bottom: 720px;
    font-size: 1rem;
    color: #404040;
    right: 370px;
}
.sax6 a{
    float: right;
    position: relative;
    bottom: 660px;
    right: 260px;
    color: #222222;
    text-decoration: none;
    border: grey solid 1px;
    padding: 10px;
    font-size: .875rem;
    line-height: 1.125rem;
}
.sax6 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax8{
    color:#1e396a;
    font-size: 25px;
    position: relative;
    bottom: 570px;
    right: 78px;
}
.sax7{
    left: 100px;
    position: relative;
    color:#1DA1F2;
    bottom:620px;
    font-size: 20px;
}
.sax9{
    position: relative;
    bottom: 665px;
    left: 145px;
    font-size: 23px;
}
.sax10{
    position: relative;
    bottom: 712px;
    left: 180px;
    font-size:20px;
}
.end{
    position: relative;
    bottom: 700px;
    margin-right: 300px;
}
#space2{
    width: 1000px;
    margin-left: 330px;
}
.sax11{
    float: left;
    position: relative;
    bottom: 700px;
    left: 50px;
}
.sax12 a{
    float: left;
    position: relative; 
    bottom: 655px;
    color: #222222;
    text-decoration: none;
    font-size: 20px;
    right: 35px;
}
.sax12 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax13{
    float: left;
    position: relative;
    bottom: 635px;
    right: 470px;
    color: #404040;
    font-size: .8125rem;
}
#space2 img{
    position: relative;
    bottom: 565px;
    height: 120px;
    width: 215px;
    right: 575px;
}
.sax14{
    float: right;
    position: relative;
    bottom: 700px;
    font-size: 1rem;
    color: #404040;;
    right: 375px;
}
.sax15 a{
    float: right;
    position: relative;
    bottom: 640px;
    right: 265px;
    color: #222222;
    text-decoration: none;
    border: grey solid 1px;
    padding: 10px;
    font-size: .875rem;
    line-height: 1.125rem;
}
.sax15 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax16{
    color:#1e396a;
    font-size: 25px;
    position: relative;
    bottom: 570px;
    left: 50px;
}
.sax17{
    left: 100px;
    position: relative;
    color:#1DA1F2;
    bottom:620px;
    font-size: 20px;
}
.sax18{
    position: relative;
    bottom: 665px;
    left: 145px;
    font-size: 23px;
}
.sax19{
    position: relative;
    bottom: 712px;
    left: 180px;
    font-size:20px;
}
.end1{
    position: relative;
    bottom: 700px;
    margin-right: 300px;
}   

.sax20{
    float: left;
    position: relative;
    bottom: 700px;
    left: 50px;
}
.sax21{
    margin-left: 135px;
}
#space3{
    width: 1000px;
    margin-left: 330px;
}
.sax23{
    float: left;
    position: relative;
    bottom: 700px;
    left: 50px;
}
.sax24 a{
    float: left;
    position: relative; 
    bottom: 655px;
    color: #222222;
    text-decoration: none;
    font-size: 20px;
    right: 35px;
 }   
.sax24 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax31{
    float: left;
    position: relative;
    bottom: 635px;
    right: 525px;
    color: #404040;
    font-size: .8125rem;
}
.sax22{
    position:relative;
    bottom: 565px;
    height: 120px;
    width: 215px;
    right: 710px;
 }   
 .sax25{
    float: right;
    position: relative;
    bottom: 700px;
    font-size: 1rem;
    color: #404040;;
    right: 375px;
 }
 .sax26 a{
    float: right;
    position: relative;
    bottom: 640px;
    right: 265px;
    color: #222222;
    text-decoration: none;
    border: grey solid 1px;
    padding: 10px;
    font-size: .875rem;
    line-height: 1.125rem;
}
.sax26 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax27{
    color:#1e396a;
    font-size: 25px;
    position: relative;
    bottom: 570px;
    left: 50px;
}
.sax28{
    left: 100px;
    position: relative;
    color:#1DA1F2;
    bottom:620px;
    font-size: 20px;
}
.sax29{
    position: relative;
    bottom: 665px;
    left: 145px;
    font-size: 23px;
}
.sax30{
    position: relative;
    bottom: 712px;
    left: 180px;
    font-size:20px;
}
#space4{
    width: 1000px;
    margin-left: 330px;
}
.sax41{
    float: left;
    position: relative;
    bottom: 700px;
    left: 50px;
}
.sax32 a{
    float: left;
    position: relative; 
    bottom: 655px;
    color: #222222;
    text-decoration: none;
    font-size: 20px;
    left:16px;
 }   
.sax32 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax33{
    float: left;
    position: relative;
    bottom: 635px;
    right: 460px;
    color: #404040;
    font-size: .8125rem;
}
.sax34{
    position:relative;
    bottom: 565px;
    height: 120px;
    width: 215px;
    right: 545px;
}
.sax35{
    float: right;
    position: relative;
    bottom: 700px;
    font-size: 1rem;
    color: #404040;;
    right: 375px;
 }
 .sax36 a{
    float: right;
    position: relative;
    bottom: 655px;
    right: 265px;
    color: #222222;
    text-decoration: none;
    border: grey solid 1px;
    padding: 10px;
    font-size: .875rem;
    line-height: 1.125rem;
}
.sax36 a:hover{
    color: #B80000;
    text-decoration: underline;
}
.sax37{
    color:#1e396a;
    font-size: 25px;
    position: relative;
    bottom: 570px;
    left: 50px;
}
.sax38{
    left: 100px;
    position: relative;
    color:#1DA1F2;
    bottom:620px;
    font-size: 20px;
}
.sax39{
    position: relative;
    bottom: 665px;
    left: 145px;
    font-size: 23px;
}
.sax40{
    position: relative;
    bottom: 712px;
    left: 180px;
    font-size:20px;
}
#space5{
    width: 1000px;
    margin-left: 600px;
}
#space5 p{
    position: relative;
    bottom: 650px;
}
#space5 img{
    float: left;
    position: relative;
    bottom: 700px;
    right: 150px;
}
#Around{
    width: 1000px;
    float: right;
}
#Around h2{
    position: relative;
    bottom: 600px;
    right: 100px;
    color: black;
}
#Around hr{
    position: relative;
    bottom: 633px;
    right: 100px;
    margin-left: 190px;
    color: #222;
    width: 850px;
}
#Around img{
    height: 290px;
    width: 510px;
    position: relative;
    bottom: 610px;
    right: 100px;
}
.flood a{
    position: relative;
    bottom: 20px;
    color:black;
    text-decoration: none;
}
.flood a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around1{
    width: 1000px;
    float: right;
}
#Around1 h4 a{
    float: left;
    position: relative;
    bottom: 987px;
    left: 428px;
    color: black;
    text-decoration: none;
}
#Around1 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around1 h5 a{
    float: left;
    position: relative;
    bottom:940px;
    left:264px;
    color:black;
    text-decoration: none;
}
#Around1 h5 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around1 img{
    height: 140px;
    width: 250px;
    position: relative;
    bottom:972px;
    left: 425px;
}
#Around2{
    width: 1000px;
    float: right;
}
#Around2 img{
    height: 140px;
    width: 250px;
    position: relative;
    bottom:1175px;
    left: 690px;
}
#Around2 h5 a{
    float: left;
    position: relative;
    bottom:1145px;
    left:538px;
    color:black;
    text-decoration: none;
}
#Around2 h5 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around2 h4 a{
    float: left;
    position: relative;
    bottom:1190px;
    left:693px;
    color:black;
    text-decoration: none;
}
#Around2 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around3{
    width: 1000px;
    float: right;
}
#Around3 img{
    height: 140px;
    width: 250px;
    position: relative;
    bottom: 1010px;
    right: 100px;
}
#Around3 h4 a{
    position: relative;
    bottom: 1025px;
    right: 100px;
    color:black;
    text-decoration: none;
}
#Around3 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around3 h5 a{
    position: relative;
    bottom: 1035px;
    right: 100px;
    color:black;
    text-decoration: none;
}
#Around3 h5 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around4{
    width: 1000px;
    float: right;
}
#Around4 img{
    height: 140px;
    width: 250px;
    position: relative;
    bottom: 1270px;
    left: 165px;
}
#Around4 h4 a{
    position: relative;
    bottom: 1285px;
    left: 162px;
    color:black;
    text-decoration: none;
}
#Around4 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around4 h5 a{
    position: relative;
    bottom: 1296px;
    left: 165px;
    color:black;
    text-decoration: none;
}
#Around4 h5 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around5{
    width: 1000px;
    float: right;
}
#Around5 img{
    height: 140px;
    width: 250px;
    position: relative;
    bottom: 1532px;
    left: 417px;
}
#Around5 h4 a{
    position: relative;
    bottom: 1548px;
    left: 421px;
    color:black;
    text-decoration: none;
}
#Around5 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around5 h5 a{
    position: relative;
    bottom: 1555px;
    left: 421px;
    color:black;
    text-decoration: none;
}
#Around5 h5 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around6{
    width: 1000px;
    float: right;
}
#Around6 img{
    height: 140px;
    width: 250px;
    position: relative;
    bottom: 1795px;
    left: 685px;
}
#Around6 h4 a{
    position: relative;
    bottom: 1810px;
    left: 685px;
    color:black;
    text-decoration: none;
}
#Around6 h4 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around6 h5 a{
    position: relative;
    bottom: 1820px;
    left: 685px;
    color:black;
    text-decoration: none;
}
#Around6 h5 a:hover{
    color: #B80000;
    text-decoration: underline;
}
#Around7{
    width: 1000px;
    float: right;
}
#Around7 h2{
    position: relative;
    bottom: 1800px;
    right: 100px;
}
#Around7 hr{
    position: relative;
    bottom: 1830px;
     margin-left: 50px;
}
.pat1{
    position: relative;
    bottom: 1825px;
    font-size: 35px;
    color: #1DA1F2;
    right: 70px;
}
.pat2{
    position: relative;
    bottom: 1897px;
    font-size: 35px;
    color: #1e396a;
    left: 30px;
}
.pat3{
    position: relative;
    bottom: 1977px;
    font-size: 38px;
    color:#D84161;
    left: 110px;
}
.pat4{
    position: relative;
    bottom: 2070px;
    font-size: 30px;
    left: 400px;
    border-left: gray 1px solid;
    padding-left: 20px;
    height:80px;
}
#Around7 h5 a{
    position: relative;
    bottom: 2130px;
    left: 420px;
    color:#7B756F;
    text-decoration: none;
}
#Around7 h5 a:hover{
     text-decoration:underline ;
     color: #B80000;
}
.daily{
    position: relative;
    bottom: 2230px;
    left: 465px;
    font-size: 25px;
    border-left: 1px gray solid;
    padding-left: 10px;
}
.email{
    position: relative;
    bottom: 2180px;
    left: 420px;
    color: #606060;
    font-size: .8125rem;
    font-family: Arial, Helvetica, sans-serif;
}
.email2 a{
    position: relative;
    bottom: 2220px;
    left: 495px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-size: .8125rem;
    font-family: Arial, Helvetica, sans-serif;
}
.email2 a:hover{
    text-decoration: underline;
    color: #B80000;
}
.email3{
    position: relative;
    bottom: 2230px;
    left: 420px;
    color: #606060;
    font-size: .8125rem;
    font-family: Arial, Helvetica, sans-serif;
}  
.email4 a{
    position: relative;
    bottom: 2269px;
    left: 465px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-size: .8125rem;
    font-family: Arial, Helvetica, sans-serif;
}
.email4 a:hover{
    text-decoration: underline;
    color: #B80000;
}
.lap{
    float: right;
    font-size: 40px;
    position: relative;
    bottom: 2478px;
    right: 260px;
    border-right: grey 1px solid;
    padding-right: 20px;
}
.app{
    font-size: 25px;
    float: right;
    position: relative;
    bottom: 2460px;
    right: 55px;
}
.app1 a{
    position: relative;
    bottom: 2390px;
    left: 145px;
    float: right;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.app1 a:hover{
    text-decoration: underline;
    color: #B80000;
}
.app2 a{
    position: relative;
    bottom: 2333px;
    left: 368px;
    float: right;
    color: black;
    text-decoration: none;
    
}
.app2 a:hover{
    text-decoration: underline;
    color: #B80000;
}
#ending{  
    width: 100%;
    height: 120px;
    background-color: #2F2F2F;
    margin-top: 440px;
    
}
#ending p{
    font-size: 1.5rem;
    color: white;
    position: relative;
    left: 150px;
    top: 25px;
}
#ending i{
    color: white;    
    font-size: 25px;
    padding-left: 160px;
    position: relative;
    bottom: 25px;
    
}
.phone a{
    color: white;
    position: relative;
    left: 190px;
    top: 20px;
    text-decoration: none;
    font-size: .8125rem;
    cursor: pointer;
}
.phone a:hover{
    text-decoration: underline;
    color: white;
}
.phone1 a{
    
    color: white;
    position: relative;
    left: 440px;
    bottom: 65px;
    text-decoration: none;
    font-size: .8125rem;
    cursor: pointer;
}
.phone1 a:hover{
    text-decoration: underline;
    color: white;
}
.pat6{
    color:white;
    position: relative;
    font-size:25px;
    left: 410px;
    position: relative;
    bottom: 130px;
}
.pat5{
    color:white;
    position: relative;
    font-size:25px;
    left: 670px;
    position: relative;
    bottom: 80px;
}
.pat7 a{
    color: white;
    position: relative;
    left: 710px;
    bottom: 180px;
    text-decoration: none;
    font-size: .8125rem;
    cursor: pointer;
}
.pat7 a:hover{
    text-decoration: underline;
    color: white;
}
.pat8{
    color:white;
    position: relative;
    font-size:30px;
    left: 925px;
    position: relative;
    bottom: 235px;
}
.pat9 a{
    color:white;
    position: relative;
    left: 970px;
    bottom: 290px;
    text-decoration: none;
    font-size: .8125rem;
    cursor: pointer;
    
}
.pat9 a:hover{
    text-decoration: underline;
    color: white;
}
#done{
    background-color: #4C4C4C;
    width: 100%;
    height: 350px;
    position: relative;
    bottom: 280px;  
   
}
#done h2{
    position: relative;
    left: 145px;
    top: 30px;
    color: white;
}
.done1 a{
    position: relative;
    bottom: 550px;
    margin-left: 145px;
    color: white;
    text-decoration: none;
    border-left: 1px gray solid;
    height: 60px;
    
}
.done1 a:hover{
    color: white;
    text-decoration: underline;
}
.done3 a{
    position: relative;
    bottom: 625px;
    left: 350px;
    color: white;
    text-decoration: none;
    border-left: 1px grey solid;
    height: 50px;

}
.done3 a:hover{
    color: white;
    text-decoration: underline;
}
#done4{
    position: relative;
    bottom: 500px;
    left: 350px;
    border-left: 1px gray solid;
}